.carouselWrapper {
  margin-bottom: 2rem;
}

.title {
  text-align: left;
  padding-left: 10px;
  font-size: 2rem;
  margin: 0 0 0rem 1rem;
  font-weight: bold;
  color: #c4cbca;
}

.carouselContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 2rem;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carouselItem {
  /* Set the min-width and height to match the aspect ratio */
  min-width: 180px;
  padding-top: 240px; /* 3:4 ratio - 3/4 of the width as height */
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 6px;
  overflow: hidden;
}

.carouselItem:hover {
  transform: scale(1.1);
}

.image {
  /* Ensure the image covers the card */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.navButtonLeft,
.navButtonRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.navButtonLeft::before,
.navButtonRight::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  margin: auto;
  border-style: solid;
  transition: border-color 0.2s ease;
}

.navButtonLeft::before {
  border-width: 20px 28px 20px 0;
  border-color: transparent #c4cbca transparent transparent;
}

.navButtonRight::before {
  border-width: 20px 0 20px 28px;
  border-color: transparent transparent transparent #c4cbca;
}

.navButtonLeft:hover,
.navButtonRight:hover {
  transform: translateY(-50%) scale(1.3);
}

.navButtonLeft:hover::before {
  border-color: transparent #c4cbca transparent transparent;
}

.navButtonRight:hover::before {
  border-color: transparent transparent transparent #c4cbca;
}

.navButtonLeft {
  left: 0.5rem;
}

.navButtonRight {
  right: 0.5rem;
}
