.login-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #011627;
  padding: 20px;
}

.login-card {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form .form-control {
  border-radius: 8px;
}

.btn-dark {
  border-radius: 8px;
}

.login-form .form-control {
  border-radius: 8px;
  background-color: #ffffff !important;
  color: #000000;
}

.login-form .form-control::placeholder {
  color: #888888;
  opacity: 1;
}

.login-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  -webkit-text-fill-color: #000000 !important;
}
